.adjust-text {
    margin-top: 20px !important; /* または適当な値 */
}
.bg-light-cyan {
    background-color: #E0F7FA;
}  
.deep-cyan-btn {
    background-color: #17a2b8; /* この色はBootstrapの水色（cyan）より少し濃い色です */
    color: white;
}
